<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>games</key>
	<array>
		<dict>
			<key>displayname</key>
			<string>对对碰</string>
			<key>localversion</key>
			<string>0</string>
			<key>name</key>
			<string>crystalcraze</string>
			<key>size</key>
			<string>12515000</string>
			<key>spritefile</key>
			<string>pt_ddpicon.png</string>
			<key>spriteframes</key>
			<string>ccbResources/SpriteSheet_MainUI.plist</string>
			<key>url</key>
			<string>http://www.flashchannelgames.com/sites/default/files/crystalcraze.zip</string>
			<key>version</key>
			<string>1</string>
		</dict>
	</array>
</dict>
</plist>
